@keyframes light-to-dark {
  0% {
    clip-path: polygon(0 0, 0 0, calc(0.14054083 * -100vh) 100%, calc(0.14054083 * -100vh) 100%);
  }
  to {
    clip-path: polygon(
      0 0,
      calc((0.14054083 * 100vh) + 100%) 0,
      100% 100%,
      calc(0.14054083 * -100vh) 100%
    );
  }
}
@keyframes dark-to-light {
  0% {
    clip-path: polygon(
      calc((0.14054083 * 100vh) + 100%) 0,
      calc((0.14054083 * 100vh) + 100%) 0,
      100% 100%,
      100% 100%
    );
  }
  to {
    clip-path: polygon(
      0 0,
      calc((0.14054083 * 100vh) + 100%) 0,
      100% 100%,
      calc(0.14054083 * -100vh) 100%
    );
  }
}
:root::view-transition-group(page) {
  animation-duration: 1s;
}
:root::view-transition-new(page),
:root::view-transition-old(page) {
  mix-blend-mode: normal;
}
:root::view-transition-old(page),
:root[theme-mode='dark']::view-transition-old(page) {
  animation: none;
}
:root::view-transition-new(page) {
  animation-name: dark-to-light;
}
:root[theme-mode='dark']::view-transition-new(page) {
  animation-name: light-to-dark;
}
